<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Résultat de la recherche</title>
    <link rel="stylesheet" href="/static/disks/css/style.css" />
    <script src="/static/disks/js/script.js"></script>
</head>
<body>
<label for="album-search">Rechercher l'album:</label>

<input type="search" id="album-search" name="search-bar">
<button onclick="getValue()">Recherche</button>

<h1>Albums correspondants à la recherche : " {{ search }} "</h1>
    {% for album in search_result %}
        <h2> <a href="{% url "tracks" album.id %}" target="_blank" > {{ album.title }} </a> </h2>
    {% endfor %}

</body>
</html>